body {
    color: #ececec;
    font-family: sans-serif;
    text-shadow: 1px 1px #000000;
    overflow-y: hidden;
    height: 100vh;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: auto 10px;
    list-style-type: none;
}

.clock-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
}

.session-container button,
.break-container button,
.home button {
    background-color: #151d3b;
    border: none;
    margin: 10px;
}

i {
    cursor: pointer;
    font-size: 45px;
}

.timer-dec,
.timer-inc {
    color: #ffffff;
}

.timer-dec:disabled,
.timer-inc:disabled {
    opacity: 0.5;
}

.session-container,
.break-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 32px;
    font-weight: 700;
}

.timer-wrapper {
    border-radius: 10px;
    padding: 15px 125px;
}

i {
    font-size: 45px;
}

.session-container,
.break-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 32px;
    font-weight: 700;
}

.timer-wrapper {
    padding: 15px 125px;
}

.timer-container {
    background-color: #ffffff;
    color: #151d3b;
    text-shadow: none;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 37px;
    position: relative;
}

.set-timer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151d3b;
    height: 100%;
    position: relative;
    justify-content: center;
}

.first-heading {
    font-size: 60px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.second-heading {
    font-size: 60px;
    position: absolute;
    left: 30px;
    top: 10px;
}

.responsive-heading {
    visibility: hidden;
}

.home {
    background-color: #1d2a53;
    color: #ececec;
    height: 100vh;
    text-align: center;
}

ul {
    margin: 0;
    text-align: right;
    margin-right: 25px;
}

.home a,
.register a,
.login a {
    color: #ececec;
    text-decoration: none;
}

.home button {
    background-color: #1d2a53;
    padding: 10px;
    font-size: 24px;
}

.home h1 {
    margin-top: 150px;
}

.navbar {
    background-color: #151d3b;
    padding: 30px;
    height: 1%;
    line-height: 0.5;
}

.login,
.register {
    background-color: #1d2a53;
    height: 100vh;
}

.login-wrapper,
.register-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container,
.register-container {
    padding: 75px 150px;
    background-color: #101422;
    border-radius: 10px;
    text-align: center;
}

.login-container h1,
.register-container h1 {
    margin-top: 0;
}

.login-container [type="text"],
.login-container [type="password"] {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 5px 10px;
    border: none;
    background-color: #1d2a53;
    color: #ececec;
}

.register-container [type="text"],
.register-container [type="password"] {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    background-color: #1d2a53;
    color: #ececec;
}

.login-container [type="submit"],
.register-container [type="submit"] {
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    background-color: #151d3b;
    border: none;
    color: #ececec;
    padding: 10px;
}

.login-container [type="submit"]:hover,
.register-container [type="submit"]:hover {
    box-shadow: 0px 0px 10px 2px #3665d3;
}

.register-container p {
    padding: 0;
    width: 200px;
    font-size: 12px;
    margin-bottom: 30px;
}

::placeholder {
    opacity: 0.9;
}

.pass-text {
    margin-top: 50px;
    padding: 0;
    text-align: left;
    opacity: 0.7;
}

.user-details {
    display: flex;
    position: absolute;
    top: 62px;
    right: 20px;
    justify-content: center;
    align-items: center;
}

.user-details button {
    padding: 10px 30px;
    background-color: #1d2a53;
    border: none;
    border-radius: 5px;
    color: #ececec;
    cursor: pointer;
    font-size: 24px;
}

.user-details button:hover {
    background-color: #101422;
}

@media screen and (max-width: 768px) {
    .clock-wrapper {
        flex-direction: column;
    }

    .set-timer {
        width: 100%;
    }

    .timer-container {
        width: 100%;
    }

    .responsive-heading {
        visibility: visible;
    }

    .first-heading {
        visibility: hidden;
    }

    .second-heading {
        visibility: hidden;
    }

    .user-details {
        top: 35px;
    }

    .user-details button {
        background-color: #ffffff;
        color: #151d3b;
    }

    .user-details button:hover {
        background-color: #ececec;
    }
}
